<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.habiaral">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.HabiAral">
        <activity
            android:name=".AboutUs"
            android:exported="false" />
        <activity
            android:name=".Introduction"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Homepage"
            android:exported="true" />
        <activity
            android:name=".Welcome"
            android:exported="true" />
        <activity
            android:name=".Palaro"
            android:exported="false" />
        <activity
            android:name=".KayarianNgPangungusap"
            android:exported="false" />
        <activity
            android:name=".Komprehensyon"
            android:exported="false" />
        <activity
            android:name=".BahagiNgPananalita"
            android:exported="false" />
        <activity android:name=".KomprehensyonLesson" />
        <activity android:name=".KomprehensyonQuiz" />
        <activity android:name=".KayarianNgPangungusapLesson" />
        <activity android:name=".KayarianNgPangungusapQuiz" />
        <activity android:name=".PalaroBaguhan" />
        <activity android:name=".PalaroHusay" />
        <activity android:name=".PalaroDalubhasa" />
    </application>

</manifest>