<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.habiaral">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-sdk
        android:minSdkVersion="29"
        android:targetSdkVersion="35" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.HabiAral">

        <activity android:name=".Activity.Introduction" />

        <activity
            android:name=".Activity.AboutUsActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.IntroActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.MainActivity"
            android:screenOrientation="portrait"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.HomepageActivity"
            android:screenOrientation="portrait"
            android:exported="true" />
        <activity
            android:name=".Activity.WelcomeActivity"
            android:screenOrientation="portrait"

            android:exported="true" />
        <activity
            android:name=".Palaro.Palaro"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".KayarianNgPangungusap.KayarianNgPangungusap"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".PagUnawa.PagUnawa"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".BahagiNgPananalita.BahagiNgPananalita"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity android:name=".Palaro.PalaroBaguhan"
            android:screenOrientation="portrait" />
        <activity android:name=".Palaro.PalaroHusay"
            android:screenOrientation="portrait" />
        <activity android:name=".Palaro.PalaroDalubhasa"
            android:screenOrientation="portrait" />
        <activity
            android:name=".BahagiNgPananalita.Lessons.PangngalanLesson"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait" />
        <activity android:name=".BahagiNgPananalita.Quiz.PangngalanQuiz"
            android:screenOrientation="portrait" />
        <activity android:name=".BahagiNgPananalita.Lessons.PandiwaLesson"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait" />
        <activity android:name=".BahagiNgPananalita.Quiz.PandiwaQuiz"
            android:screenOrientation="portrait" />
        <activity android:name=".BahagiNgPananalita.Lessons.PangUriLesson"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait" />
        <activity android:name=".BahagiNgPananalita.Quiz.PangUriQuiz"
            android:screenOrientation="portrait" />
        <activity android:name=".BahagiNgPananalita.Lessons.PangHalipLesson"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait" />
        <activity android:name=".BahagiNgPananalita.Quiz.PangHalipQuiz"
            android:screenOrientation="portrait" />
        <activity android:name=".BahagiNgPananalita.Lessons.PangAbayLesson"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait" />
        <activity android:name=".BahagiNgPananalita.Quiz.PangAbayQuiz"
            android:screenOrientation="portrait" />
        <activity android:name=".BahagiNgPananalita.Lessons.PangatnigLesson"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait" />
        <activity android:name=".BahagiNgPananalita.Quiz.PangatnigQuiz"
            android:screenOrientation="portrait" />
        <activity android:name=".BahagiNgPananalita.Lessons.PangUkolLesson"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait" />
        <activity android:name=".BahagiNgPananalita.Quiz.PangUkolQuiz"
            android:screenOrientation="portrait" />
        <activity android:name=".BahagiNgPananalita.Lessons.PangAngkopLesson"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait" />
        <activity android:name=".BahagiNgPananalita.Quiz.PangAngkopQuiz"
            android:screenOrientation="portrait" />
        <activity android:name=".BahagiNgPananalita.Lessons.PandamdamLesson"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait" />
        <activity android:name=".BahagiNgPananalita.Quiz.PandamdamQuiz"
            android:screenOrientation="portrait" />
        <activity android:name=".BahagiNgPananalita.Lessons.PangawingLesson"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait" />
        <activity android:name=".BahagiNgPananalita.Quiz.PangawingQuiz"
            android:screenOrientation="portrait" />
        <activity android:name=".PagUnawa.Stories.Kwento1"
            android:screenOrientation="portrait" />
        <activity android:name=".PagUnawa.Quiz.Kwento1Quiz"
            android:screenOrientation="portrait" />
        <activity android:name=".PagUnawa.Stories.Kwento2"
            android:screenOrientation="portrait" />
        <activity android:name=".PagUnawa.Quiz.Kwento2Quiz"
            android:screenOrientation="portrait" />
        <activity android:name=".PagUnawa.Stories.Kwento3"
            android:screenOrientation="portrait" />
        <activity android:name=".PagUnawa.Quiz.Kwento3Quiz"
            android:screenOrientation="portrait" />
        <activity android:name=".PagUnawa.Stories.Kwento4"
            android:screenOrientation="portrait" />
        <activity android:name=".PagUnawa.Quiz.Kwento4Quiz"
            android:screenOrientation="portrait" />
        <activity android:name=".KayarianNgPangungusap.Lessons.PayakLesson"
            android:screenOrientation="portrait" />
        <activity android:name=".KayarianNgPangungusap.Quiz.PayakQuiz"
            android:screenOrientation="portrait" />
        <activity android:name=".KayarianNgPangungusap.Lessons.TambalanLesson"
            android:screenOrientation="portrait" />
        <activity android:name=".KayarianNgPangungusap.Quiz.TambalanQuiz"
            android:screenOrientation="portrait" />
        <activity android:name=".KayarianNgPangungusap.Lessons.HugnayanLesson"
            android:screenOrientation="portrait" />
        <activity android:name=".KayarianNgPangungusap.Quiz.HugnayanQuiz"
            android:screenOrientation="portrait" />
        <activity android:name=".KayarianNgPangungusap.Lessons.LangkapanLesson"
            android:screenOrientation="portrait" />
        <activity android:name=".KayarianNgPangungusap.Quiz.LangkapanQuiz"
            android:screenOrientation="portrait" />
    </application>

</manifest>