<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.habiaral">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.HabiAral">

        <activity
            android:name=".Activity.AboutUsActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.IntroActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.HomepageActivity"
            android:exported="true" />
        <activity
            android:name=".Activity.WelcomeActivity"
            android:exported="true" />
        <activity
            android:name=".Palaro.Palaro"
            android:exported="false" />
        <activity
            android:name=".KayarianNgPangungusap.KayarianNgPangungusap"
            android:exported="false" />
        <activity
            android:name=".Komprehensyon.Komprehensyon"
            android:exported="false" />
        <activity
            android:name=".BahagiNgPananalita.BahagiNgPananalita"
            android:exported="false" />
        <activity android:name=".Komprehensyon.KomprehensyonStory" />
        <activity android:name=".Komprehensyon.KomprehensyonQuiz" />
        <activity android:name=".KayarianNgPangungusap.KayarianNgPangungusapLesson" />
        <activity android:name=".KayarianNgPangungusap.KayarianNgPangungusapQuiz" />
        <activity android:name=".Palaro.PalaroBaguhan" />
        <activity android:name=".Palaro.PalaroHusay" />
        <activity android:name=".Palaro.PalaroDalubhasa" />
        <activity android:name=".BahagiNgPananalita.Lessons.PangngalanLesson" />
        <activity android:name=".BahagiNgPananalita.Quiz.PangngalanQuiz" />
        <activity android:name=".BahagiNgPananalita.Lessons.PandiwaLesson" />
        <activity android:name=".BahagiNgPananalita.Quiz.PandiwaQuiz" />
        <activity android:name=".BahagiNgPananalita.Lessons.PangUriLesson" />
        <activity android:name=".BahagiNgPananalita.Quiz.PangUriQuiz" />
        <activity android:name=".BahagiNgPananalita.Lessons.PangHalipLesson" />
        <activity android:name=".BahagiNgPananalita.Quiz.PangHalipQuiz" />
        <activity android:name=".BahagiNgPananalita.Lessons.PangAbayLesson" />
        <activity android:name=".BahagiNgPananalita.Quiz.PangAbayQuiz" />
        <activity android:name=".BahagiNgPananalita.Lessons.PangatnigLesson" />
        <activity android:name=".BahagiNgPananalita.Quiz.PangatnigQuiz" />
        <activity android:name=".BahagiNgPananalita.Lessons.PangUkolLesson" />
        <activity android:name=".BahagiNgPananalita.Quiz.PangUkolQuiz" />
        <activity android:name=".BahagiNgPananalita.Lessons.PangAkopLesson" />
        <activity android:name=".BahagiNgPananalita.Quiz.PangAkopQuiz" />
        <activity android:name=".BahagiNgPananalita.Lessons.PadamdamLesson" />
        <activity android:name=".BahagiNgPananalita.Quiz.PadamdamQuiz" />
        <activity android:name=".BahagiNgPananalita.Lessons.PangawingLesson" />
        <activity android:name=".BahagiNgPananalita.Quiz.PangawingQuiz" />
        <activity android:name=".Komprehensyon.Stories.Kwento1" />
        <activity android:name=".Komprehensyon.Stories.Kwento2" />
        <activity android:name=".Komprehensyon.Stories.Kwento3" />
        <activity android:name=".KayarianNgPangungusap.Lessons.Payak" />
        <activity android:name=".KayarianNgPangungusap.Lessons.Tambalan" />
        <activity android:name=".KayarianNgPangungusap.Lessons.Hugnayan" />
        <activity android:name=".KayarianNgPangungusap.Lessons.Langkapan" />
    </application>

</manifest>